body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  width: 80%;
  height: 100vh;
  position: relative;
  background: rgb(0,108,141);
  background: -moz-linear-gradient(90deg, rgba(0,108,141,1) 25%, rgba(3,203,255,1) 80%);
  background: -webkit-linear-gradient(90deg, rgba(0,108,141,1) 25%, rgba(3,203,255,1) 80%);
  background: linear-gradient(90deg, rgba(0,108,141,1) 25%, rgba(3,203,255,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006c8d",endColorstr="#03cbff",GradientType=1);
  color: #fff;
}