.Community{
    overflow: hidden;
    max-height: 100vh;
}
.Community .title{
    font-size: 3vw;
    text-align: center;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 10vw;
}

.Community .underline{
    width:10vw;
    margin-left: 14.7vw;
    
}
.Community .topSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
   
}
.Community .titleSection{
    display: flex;
    flex-direction: column;
}

.Community .postButton {
    padding: 2vh 3.5vw;
    margin-left: 10px;
    background-color: #ff004f; /* Button background color */
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-size: 1.7vw;
}

.Community .postButton:hover {
    background-color: #e60045; /* Slightly darker on hover for feedback */
}
.Community .filter{
    width:4vw;
}
.Community .postsWrapper{
    overflow-y: auto; /* Enable vertical scrolling */
    margin: auto;
    margin-top: 2vh;
    width: 80vw;
    height: 100vh;
    border-radius: 140px;
    background: rgba(143, 143, 143, 0.50);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Community .postsWrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
.Community .post{
    margin-top: 2vh;
    margin-left: 15vw;
    width: 50vw;
}

.Community .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* Style for the overlay/background behind the modal */
.Community .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}