.Journal .createJournalEntry .title{
    margin-top: 2vh;
    font-size: 3vw;
    text-align: center;
    font-weight: 400;
}

.Journal .underline{
    width:5.3vw;
    margin-left: 48.7vw ;
    position: absolute;    
}

ul {
    list-style-type: none;
}

input {
    min-height: 5vmin;
}

.journal-textarea {
    min-height: 40vmin;
}

.createJournalEntry {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.journal-form {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    min-width: 15vmin;
    min-height: 50vmin;
    max-width: 50vmin;
    padding: 5vmin;
    font-size: 50vmin;
}

.JournalSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createEntrySection {
    padding-top: 3vmin;
    width: 20vmin;
    text-align: center;
}

.noPadding {
    background-color: white;
    border-radius: 1vmin;
}

.noPadding:hover {
    transition: 0.1s;
    background-color: greenyellow;
    cursor: pointer;
}

.entryBackground {
    background-color: rgba(143, 143, 143, 0.50);
    border-radius: 1vmin;
}

.createEntryButton {
    font-size: 5vmin;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.EntrySection {
    padding-top: 1vmin;
}

.entryTitle {
    font-size: 5vmin;
}

.entry {
    font-size: 3vmin;
    text-align: left;
}

.IndividualEntry {
    text-align: center;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    border-radius: 1vmin;
}

.editEntryButton {
    font-size: 2vmin;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.editEntryButton:hover {
    color: white
}