* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
  /*  overflow: hidden; /* if there is problems with positioning and page heights for longer pages and going past 
    100vh, move this to section{} */
  }

h1 {
    font-size: 750%;
}

section {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 100px 20vw;
    text-align: center;
}

  .wrapper {
    margin-top: 2%;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login-container {
    width: 100%;
    padding: 40px;
}

.login-container h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
}

.btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

