.PostHolder {
    border-radius: 33px;
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
    background: rgb(255, 255, 255);  
    width: 50vw;
    height: 13vh;
    margin-top: 2vh;
    padding: 10px 10px 0; /* Top, Left, Right */
    display: flex;
    flex-direction: row;
    color: black;
}

.PostHolder:hover {
    background-color: #d9d9d9; /* Slightly darker on hover for feedback */
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.45) inset;
    cursor: pointer;
}

.PostHolder .imgHolder {
    width: 10vh; /* Make width and height equal for square shape */
    height: 10vh;
    border-radius: 4px;
    border: 3px solid #FF004F;
    background: #D9D9D9;
    margin-top: 0.6vh;
    margin-left: 0.2vw;
}

.PostHolder .imgHolder img {
    max-width: 100%; /* Make the image fill the container horizontally */
    max-height: 100%; /* Make the image fill the container vertically */
}

.PostHolder .Postinfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 35vw;
    word-wrap: break-word;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.583%; /* 22.917px */
    margin-top: 1vh;
    margin-left: 0.5vw;
    overflow-x: scroll;

}

.PostHolder .PostTitle{
    text-shadow: none;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.8px;
    margin-top: 1vh;
    text-align: left;
}
.PostHolder .infoContent{
    margin-top: 1vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}


.PostHolder .Name{
    width:10vw;
    font-size: 22px;
}

.PostDisplay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 77vh;
    background-color: rgba(102, 114, 130, 0.8);
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;


}
.CommentSection{
    height:45vh;
    width: 50vw;
    border-radius: 20px;
    margin-top: 2vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    overflow-y: auto; /* Enable vertical scrolling */
}
.AddCommentButton{
    width: 30vw;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 3vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.AddCommentButton:hover {
    background-color: #e60045; /* Slightly darker on hover for feedback */
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.45) inset;
}

.PostDisplay .closeButton{
    margin-left: 65vw;
    margin-top: 1vh;
    width: 30px;
    height:30px;
}
.PostDisplay .PostHolder{
  margin-top: -2vh;
  height:auto;
  max-height:21vh;
    
}
.PostDisplay .infoContent{
    max-height: 50vh; /* Optionally, set a maximum height */
    overflow-y: auto; /* Add scroll bar if content exceeds height */
}
.addCommmentWrapper .closeButton{
    margin-top: 2vh;
}
.addCommmentWrapper h2{
    margin-bottom: 2vh;
}
.addCommmentWrapper .submitButton{
  margin-top: 3vh;
}

.addCommmentWrapper textarea {
    width: 100%; /* Change this value to the desired width */
    height: 12vh; /* Change this value to the desired height */
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding-bottom: 27px; /* Adjust the padding here if needed */
    resize: none; /* Prevent resizing */
    margin-top: 3vh;
}
.commentInfo{
    display: flex;
    flex-direction: row;
}
.commentdisplaytitle{
    margin-left: 2vw;
}
