.FormButton1{
    color: white;
    background-color: transparent;
    margin-left: 65vw;
    
}
.FormButton2{
    color: white;
    background-color: transparent;
    margin-left: 4px;
    
}
.container{
    display: flex;
    margin-top: 2vw;
}
.forms { 
    position: absolute;
    top: 30vh;
    left: 85vw;
}
.forms form { /* form tag inside forms div */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(10, 20, 30, 0.5);
    padding: 20px;
    border-radius: 5%;
}
.GraphButton{
    color: white;
    background-color: transparent;
    padding: 0.5%;
}
